body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    color:#434455;
    background-color: #FFFFFF;
}
/* header */
.navigation{
    color:#2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    list-style: none;
    text-decoration: none;
}
.navigation:hover{
    color:#404BBF
}
.studio_logo{
    color:#2E2F42
    font-size: 18px;
}
.studio_nav{
    color: #2E2F42
}
.studio_nav:hover,
.studio_nav:active{
    color:#404BBF;
    text-decoration: underline;
}
a{
    text-decoration:none
}
.web{
color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 21px;
letter-spacing: 3%;
text-transform: uppercase;
font-size: 18px
}
.studio{
color:#2E2F42;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.address{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:#434455;
    text-decoration: none;
    list-style: none;
    font-style:normal
}
ul{
    list-style: none;
}
/* Hero */
.hero{
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
    color: #ffffff;
    background-color: #2E2F42;
}
button{
    color:#ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: center;
}
/* section 1 */

/* section 2 */
.team{
    background-color: #F4F4FD;
    text-align: center;
}
/* section 3 */
.portfolio{
    text-align: center;
    background-color: #ffffff;
}
/* footer */
.studio_footer{
    color: #F4F4FD;
}
.footer{
    background-color: #2E2F42;
    color:#F4F4FD;
    font-size: 16px;
    line-height: 24px;
}